/* Reset globale */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: var(--fontColor);
    background-color: var(--greyColor);
    overflow-x: hidden;
}

:root {
    --colorMain: #f23178;
    --colorMain2: #a0ce4e;
    --colorMain3: #44b0cd;
    --colorMain4: #f1894c;
    --darkgreyColor: #1f2732;
    --greyColor: #f4f4f5;
    --darkColor: #191f28;
    --fontColor: #7f7f7f;
    --fontColorLight: #a4a9b9;
}

h1 {
    font-size: 3rem;
    color: var(--darkColor);
}

button {
    background-color: var(--colorMain);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--colorMainLighter10);
}

.kanban-board {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.kanban-column {
    background-color: #fff;
    border-radius: 8px;
    width: 280px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.task-card {
    background-color: var(--greyColor);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-card:hover {
    background-color: var(--greyColorDarken1);
}

/* Responsività per dispositivi mobili */
@media (max-width: 768px) {
    .kanban-board {
        flex-direction: column;
        align-items: center;
    }

    .kanban-column {
        width: 90%;
    }
}
